main {
  width: 75%;
  margin: auto;
  height: max-content;
}

/*TEMPORARY FORM STYLES*/

fieldset {
  margin-left: 3rem;
  padding: 1rem;
}

fieldset div {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
}

label {
  margin-right: 0.5rem;

}

/*====================================*/

h1 {
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

article h2 {
  border-bottom: 1px solid lightsteelblue;
}

header, article {
  margin: 1px
}

ul {
  padding-left: 2em;
}

/*NAVIGATION STYLES*/
.nav-bar {
  padding: 1rem;
}
.nav-bar a {
  text-decoration: none;
}

.main-nav-bar {
  width: 75%;
  margin: auto;
}

.main-nav-bar a {
  padding: 5px;
}

.tailor-nav-bar {
  display: flex;
  flex-direction: column;
}

.tailor-nav-bar a {
  padding: 5px;
}

/*FEATURE TAILOR PAGE STYLES*/
.feature-container {
  display: flex;
  flex-direction: row;
}

/*RESUME PAGE STYLES*/
.cv-container {
  height: var(--cv-container-heigth); /*ADJUST INCLUDING BORDERS WHEN SETTLED */
  width: var(--cv-container-width);
  margin: auto;
  border: 1px dotted red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--basic-font-size);
  line-height: var(--text-line-heihth);
}

.cv-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.item {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.contact-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-information > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
