main {
  width: 75%;
  margin: auto;
  height: max-content;
  background-color: lightslategray;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

article h2 {
  border-bottom: 1px solid lightsteelblue;
}

header, article {
  background-color: #F1F1F1;
  margin: 1px
}

ul {
  padding-left: 2em;
}

/*NAVIGATION STYLES*/
.nav-bar {
  padding: 1rem;
  background-color: lightslategray;
}
.nav-bar a {
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: aliceblue;
}
.nav-bar a:visited {
  color: black;
}

.main-nav-bar {
  width: 75%;
  margin: auto;
}

.main-nav-bar a {
  padding: 5px;
}

.tailor-nav-bar {
  display: flex;
  flex-direction: column;
}

.tailor-nav-bar a {
  padding: 5px;
}

/*FEATURE TAILOR PAGE STYLES*/
.feature-container {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}

/*RESUME PAGE STYLES*/
.cv-container {
  height: var(--cv-container-heigth); /*ADJUST INCLUDING BORDERS WHEN SETTLED */
  width: var(--cv-container-width);
  margin: auto;
  border: 1px dotted red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--basic-font-size);
  line-height: var(--text-line-heihth);
}

.cv-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.item {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.contact-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-information > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
